@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./images/lig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    flex-direction: column;
    
}

.container {
    padding: 20px;
    width: 360px;
    text-align: center;
    border: none;
    font-family: "Exo 2", sans-serif;
    background-image: url(/images/lig.jpg);
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
    color: YELLOW;
}

#quizContainer {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    backdrop-filter: blur(30px);
    color: #111;
    font-size:  x-large;
    border-radius: 
    50% 10% 50%10% /
    10% 50% 10% 50%;
    cursor: pointer;
    background-color: yellow;
}

.option-btn:hover {
    background-color:rgb(255, 255, 99);
}

#resultContainer {
    display: none;
}

#nextBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nextBtn:hover {
    background-color: #45a049;
}
p{
    
    font-size: large;
    color: yellow;
}
#home{
    
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #111;
        text-shadow: none;
        background-color: yellow;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
        margin: 2em;

        
      }
      
      #home:hover,
      :focus {
        color: #ffffff;
        background: yellow;
        border: 1px solid yellow;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px yellow, 0 0 20px yellow, 0 0 50px #008cff,
          0 0 100px yellow;
      }
      .fa-js{
        color: yellow;
        font-size: 70px;
        margin-bottom: 10px
      }
      .container {
        position: relative;
      }
      
      .container:before, .container:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
      }
      
      @keyframes steam {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
      
      .container:after {
        filter: blur(50px);
      }
